/*-----------------------
         for all
 ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body{
    margin-block: 0;
    margin-inline: auto;
    max-width: 1440px;
    background-color:white;
    border: 2px solid red;

}

p, li {
    color: #4A556C;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    /* margin: 5px 0; */
}

.btn {
    padding: 10px 20px;
    background-color: #20AD96;
    color: white;
    border: none;
    border-radius: 5px;
   font-weight: 600;
   font-size: 14px;
   font-family: 'Kumbh Sans', sans-serif;
  }

  .d-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


/* -----------navbar section--------- */
  
  .navbar {
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid lawngreen; */
    margin-inline: 60px;
    max-width: 1200px;
    
  }
  
  .nav_icon img {
    max-width: 100%;
    height: auto;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
  }

  /* ------------ navbar section end */

  /* -- success_life section  -- */

  .success_life{
    padding: 30px;
    background-color: #FAF8F6;
    
  }
  .success_life-container {
   
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
       
    max-width: 1200px;
    margin: 50px;
    margin-bottom: 0;
  }
  
  .life-container-details {
    padding: 20px;
    padding-bottom: 0;
  }

  .container-details{
    padding: 30px;
  }

  .container-details h1{
    font-weight:800;
    font-size: 72px;
    color: #333461;
    margin-block: 2px;
    font-family: 'Kumbh Sans', sans-serif;

  }

  .container-details p{
    margin-block: 3px;
  }

  #prove-1{
    opacity: 0.5;
  }
  #prove-2{
    font-size: 18px;
  }
  .success_life-btn{
    font-weight: 400;
    margin-top: 8px;
    padding-inline: 40px;
    border-radius:10px ;
  }
  
  .life-container-img {
    /* flex: 1; */
  }
  
  
  .life-container-img img {
  position: relative;
  top: 40px;
   margin-left: 40px;
    max-width: 70%;
    height: auto;
  }

  .relative-container{
    position:relative;
    /* background-color: red; */
  }

  .success-card{
    border: 2px solid rgb(38, 35, 32);
    background-color: #FFFFFF;
    max-width: 180px;
    padding: 10px 5px;
    position:absolute;
    z-index: 1;
   left: -50px;
   top: -20px;
   
  }
  .success-card p{
    font-size: 12px;
  }
  #rate{
    color: #333461;
    font-weight: 600;
    font-size: 24px;
  }

  /* -- success_life section end  -- */


  /*-------- particular area section   */

  .particular_area{
    /* border: 2px solid blue; */
    /* background-color: aquamarine; */
    max-width: 1140px;
    margin-inline: auto;
    padding-top: 50px;
  }

  .area-details{
    /* display: flex; */
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center; */
        margin: 30px 20px;
        column-gap: 30px;
    
  }

  .details-head{
    /* flex: 1; */
    font-weight: 800;
    font-size: 35px;
  }
  
  .details-arc p{

    font-size: 18px;
   
  }

  .area-cards{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 30px 20px;
  }

  .area-cards p{
    font-size: 16px;
    margin-bottom: 60px;
  }

  .card-head{
    color: #041434;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  /* -------------------------- */
  /* -- clients comments section -- */

  .clients_comment{
    background-color: #FAF8F6;
    /* border: 2px solid salmon; */
    padding: 30px 10px 40px 50px;
   
  }
  .clients-container{
    margin-left: 80px;
    margin-right: 10px; 
  }
  .clients_comment h1{
    font-weight: 800;
    font-size: 46px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 40px;
    margin-right: 10px;
    margin-bottom: 50px;
  }

  .client-card{
    background-color: #FFFFFF;
    /* padding: 98px; */
    margin: 30px;
    padding: 50px;
  }
  .client-name{
    margin: 15px 0;
  }

  /* ------------------------------ */
  /* blog article */

  .blog_articles{
    align-items: center;
    text-align: center;
  }

  .blog-articles-head{
    color: #333461;
    font-weight:800;
    font-size: 48px;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 80px;
  }

  .blog-card-container{
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:50px;
    margin-bottom: 30px;
  }

  .blog-card{
    border: 1px solid #EDEFF5;
  }

  .blog-card-details h3{
    color: #333461;
    font-weight:700;
    font-size: 24px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 5px 0;
  }
  .blog-card-details p{
    font-size: 16px;

  }
  .blog-card img{
    width: 100%;
    height: auto;
  }

  .blog-card-details{
    padding: 5px 30px;
  }

  .blog-btn{
    padding: 10px 60px;
    margin: 20px 0 40px 0;
  }

  /*  ------- free guide--------- */

  .free_guide{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    max-width: 1200px;
    margin: 30px auto;
  }
  .guide-details{
    padding: 10px;
  }
  .guide-btn{
    margin: 10px;
    padding: 15px 70px;
    border-radius:15px;

  }
  .guide-details h1{
    font-weight:800;
    font-size: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    /* margin: 5px 0; */

  }
  .guide-img{
    position: relative;
  }

  .guide-img img{
    width: 80%;
    height: auto;
    margin-left: 50px;
  }

  #toast{
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    background-color: #20AD96;
    padding: 30px 5px;
    border-radius: 50%;
    right: 25px;
    top: -48px;
  }
 
  
  
  


  /* ------------ media query for mobile devices--------------------------- */
  
  @media screen and (max-width: 600px) {

    /*--------- navbar section------------ */
    .navbar {
      flex-direction: column;
      margin: 10px;
    }
  
    .nav-container {
      width: 100%;
      padding-block: 10px;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .nav-links {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .nav-btn{
        margin-block: 10px;
    }
    /* ----------------------nav bar end------------- */


    /* success life section */
   
    .success_life{
      padding: 20px 5px;
      margin-bottom: 20px;
      /* background-color: #645d57; */
      
    }
        .success_life-container {

          grid-template-columns: repeat(1, 1fr);
          margin-bottom: 30px;
          /* text-align: center; */
          margin: 5px;
          row-gap: 5px;
          padding: 0;
        }
      
        .life-container-details, .life-container-img {
          width: 100%;
          padding: 0;
        }

        .container-details h1{
            font-size: 30px;
        }

        .success-card{
            top: 0;
            left: 0;
        }

        
      

        /* -------particular area section */

        .particular_area{
            margin: 10px;
            /* padding: 10px; */
        }
        .area-details{
           
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 30px;
            padding: 0;
          }

          .area-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
                row-gap: 10px;
                padding: 5px;   
          }



          /* -----------clients comment section */

          .clients_comment{
            padding: 5px;
            margin: 5px;
            /* background-color: #20AD96; */
          }
          .clients-container{
            /* background-color: #FFFFFF; */
            margin: 10px 5px; 
            padding: 20px 0px;
          }
          .clients_comment h1{
            font-weight: 800;
            font-size: 35px;
            font-family: 'Kumbh Sans', sans-serif;
            padding: 0 10px;
          }
          .card-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 10px;
          }
          .client-card{
            background-color: #FFFFFF;
            margin: 5px;
            padding: 10ppx;
          }

          /* ---------------blog */

          .blog-articles-head{
            font-size: 30px;
            /* margin-top: 20px 5px; */
          }
        
          .blog-card-container{
            grid-template-columns: repeat(1, 1fr);
            row-gap:30px;
            margin: 20px 40px;
          }

          .blog-card-details{
            padding: 5px 10px;
          }
        

          /* -----------------------------guide */

          .free_guide{
            
            grid-template-columns: repeat(1,1fr);
            row-gap: 50px;
            margin: 30px 5px;
          }
          .guide-details{
           
            padding: 10px;
          }
          .guide-details h1{          
            font-size: 30px;
          }
          #toast{
            right: 1%;
            top: -42px;
          }


  }
 